# ignore files
__pycache__
.ipynb_checkpoints
/.vscode/
/python/old_files/
/python/update_tmp/
/update_tmp/
/package/
/build/
/model
/temp/
/MoePhoto*.exe
/old_versions
/server
/python/tester.py
/tmpSuperSloMo/
site-packages/nvidia-ml-py/t*
/test/**/*.png
.DS_Store

# ignore user files
/download/
/upload/
/.user/**/*.json
/.user/*.txt

# ignore generated static files
/static/bg/
/static/css/
/static/fonts/
/static/js/
/static/manifest.json
manifest.json

# ignore developments
/node_modules/

# bat and vbs
start.bat
start.vbs

# ignore build package
install.exe
*.pyc
*.pyd

# ignore third party files
/ffmpeg
*.dll
*.pdb

# include default presets
!/.user/preset_video/benchmark.json

# development
/model/vsr/basicvsr_plusplus*
python/basicvsr_pp.py