# ignore files
/__pycache__/
/download/
/python/__pycache__/
/python/old_files/
/package/
/build/
/model/__pycache__/
/model/*.py
/model/*.pyc
/temp/
/batch_SR/


# ignore old checkpoints
/model/a2/model.pth
/model/a3/model.pth
/model/a4/model.pth
/model/p2/model.pth
/model/p3/model.pth
/model/p4/model.pth
/model/old/

# ignore build package
install.exe
