body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
p {
  margin: 0;
}
ul,
label {
  margin: 0;
  padding: 0;
}
body a:hover,
body a:focus {
  text-decoration: none;
  outline: none;
}
/*-- banner --*/
.agileits-banner {
  background: url(../images/1.png) no-repeat center 0px;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  position: relative;
}
.agileits-banner1 {
  background: url(../images/1s.png) no-repeat center 0px;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  position: relative;
}
/*-- logo --*/
.w3llogo h1 {
  font-size: 3em;
  font-weight: 100;
  letter-spacing: 2px;
}
.w3llogo h1 a {
  display: inline-block;
  color: #fff;
}
.w3llogo h1 a span {
  font-size: 0.25em;
  letter-spacing: 11px;
  display: block;
  font-weight: 300;
}
/*-- //logo --*/
/*-- top-nav --*/
.w3menu.navbar-left {
  margin-left: 12em;
}
.top-nav {
  z-index: 999;
  padding: 1.5em 0 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav.navbar.navbar-default {
  background-color: inherit;
  border: none;
  margin: 0;
}
ul.nav.navbar {
  text-align: center;
  margin: 1.4em 0 0;
  min-height: inherit;
}
.top-nav ul li {
  margin: 0 0 0 4em;
  display: inline-block;
}
/* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
.top-nav ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.4em;
  color: #fff;
  position: relative;
  font-weight: 300;
  padding: 0;
  display: inline-block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: none;
}
.top-nav ul li a:hover,
.top-nav ul li a.active {
  color: #ff5722 !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.top-nav .open > .dropdown-menu {
  display: block;
  background: rgba(0, 0, 0, 0.12);
  margin-top: 2.3em;
  left: -73%;
}
.top-nav .open > .dropdown-menu li {
  margin: 0;
  display: block;
  overflow: hidden;
}
.top-nav .open > .dropdown-menu li a {
  display: block;
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
  text-align: center;
  letter-spacing: 2px;
}
.top-nav .nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #ff5722;
  border: none;
  background: none;
}
.top-nav .dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ff5722;
  text-decoration: none;
  background-color: transparent;
}
.navbar-right {
  margin-right: 0;
}
/*-- //top-nav --*/
/*-- banner-text --*/
.banner-w3text {
  text-align: center;
  padding: 19em 0;
}
.banner-w3text #vertical-ticker {
  height: 80px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.banner-w3text #vertical-ticker li,
.banner-w3text h2 {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 5em;
  font-weight: 100;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: capitalize;
}
/*-- social-icons --*/
.w3ls-bnr-icons.social-icon {
  margin-top: 4em;
}
.social-icon a {
  font-size: 1em;
  color: #fff;
  margin: 0 1.5em;
  border: 1px solid transparent;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 999;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}
.social-icon a:hover {
  color: #1da1f2;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.social-icon a.twit:hover {
  color: #1da1f2;
}
.social-icon a.social-button.fb:hover {
  color: #3b5998;
}
.social-icon a.social-button.ggl:hover {
  color: #dd4b39;
}
.social-icon a.social-button.drbl:hover {
  color: #ea4c89;
}
.social-icon a.social-button.be:hover {
  color: #1769ff;
}
.social-icon a.social-button.in:hover {
  color: #0077b5;
}
/*-- //social-icons --*/
/*-- //banner-text --*/
/*-- banner-bottom --*/
.welcome,
.stats,
.services,
.about,
.about-slid,
.team,
.contact,
.gallery,
.codes {
  padding: 5em 0;
}
p {
  font-size: 1em;
  color: #999;
  line-height: 1.8em;
}
.effect-ruby {
  position: relative;
  overflow: hidden;
  background-color: #000;
  height: 200px;
}
.effect-ruby img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.effect-ruby .agile-caption {
  padding: 2em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.effect-ruby img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.effect-ruby:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.effect-ruby h3 {
  color: #fff;
  font-size: 2.2em;
  font-weight: 200;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.69);
  display: inline-block;
  padding: 6px 12px;
  margin-top: 8%;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 25px, 0);
}
.effect-ruby p {
  color: #fff;
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}
.effect-ruby:hover h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.effect-ruby:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/*-- //banner-bottom --*/
/*-- features --*/
h3.agileits-title,
h2.agileits-title {
  text-align: center;
  font-size: 4em;
  color: #ff5722;
  margin-bottom: 0.6em;
  font-weight: 300;
  letter-spacing: 2px;
}
.features h2.agileits-title {
  margin-bottom: 0.1em;
}
.features p.pagile-text {
  width: 72%;
  margin: 0 auto 5em;
  text-align: center;
}
.features-right img {
  width: initial;
}
.features-grid.features-grid-mdl {
  margin: 2.5em 0;
}
.features h4 {
  font-size: 2em;
  margin-bottom: 0.2em;
  color: #333;
  font-weight: 300;
}
.features-grid-left {
  text-align: center;
}
.features i.fa {
  font-size: 1.6em;
  padding: 0.8em;
  border: 1px solid;
  color: #17b9ea;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}
.features-grid:hover i.fa {
  color: #ff5722;
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  transform: rotatey(180deg);
}
/*-- //features --*/
/*-- stats --*/
.stats {
  background-size: cover;
  background: #ff5722;
  margin-top: 6em;
}
.stats-agileinfo {
  text-align: center;
}

.stats-agileinfo h6 {
  font-weight: 900;
  letter-spacing: 5px;
  margin: 1em 0 0;
  font-size: 1.5em;
  color: #fff;
}
.numscroller {
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  border: 2px solid #fff;
  display: inline-block;
  padding: 1em 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*-- //stats --*/
/*-- services --*/
.services h3.agileits-title {
  text-align: left;
}
.services-grid {
  text-align: center;
}
.services-grid.srvs-wthree-mdl {
  margin: 3.5em 0;
}
.services-grid i.fa {
  font-size: 4em;
  color: #17b9ea;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.services-grid h5 {
  font-size: 1.5em;
  margin-top: 0.5em;
  color: #333;
  font-weight: 300;
}
.services-grid:hover i.fa {
  -webkit-transform: translatey(-10px) scale(0.8);
  -moz-transform: translatey(-10px) scale(0.8);
  -o-transform: translatey(-10px) scale(0.8);
  -ms-transform: translatey(-10px) scale(0.8);
  transform: translatey(-10px) scale(0.8);
  -moz-opacity: 1;
  opacity: 1;
}
/*-- //services --*/
/*-- footer start here --*/
.footer-agile {
  padding: 4em 0 3em;
  background: #191d22;
}
.footer-top-agileinfo {
  text-align: center;
}
.footer-btm-agileinfo {
  border-top: 1px solid #272e35;
  padding-top: 2.5em;
  margin-top: 1.5em;
}
.footer-grid h3 {
  font-size: 2.8em;
  color: #ff5722;
  margin-bottom: 0.6em;
  font-weight: 200;
  letter-spacing: 2px;
}
.footer-grid li {
  display: block;
  margin: 1em 0 0;
  font-size: 1em;
}
.footer-grid li a {
  color: #fff;
}
.footer-grid li a i.glyphicon {
  margin-right: 8px;
  font-size: 0.8em;
}
.footer-grid li a:hover {
  color: #17b9ea;
}
.footer-grid form {
  position: relative;
}
.footer-grid input[type='email'] {
  width: 63%;
  padding: 0.8em;
  font-size: 0.9em;
  float: left;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  background: none;
  -webkit-appearance: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.footer-grid form:hover input[type='email'] {
  border-color: #17b9ea;
}
.footer-grid input[type='submit'] {
  float: left;
  color: #fff;
  font-size: 0.9em;
  outline: none;
  padding: 0.8em 1.5em;
  border: 1px solid #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -webkit-appearance: none;
  background: none;
  margin-left: 1em;
}
.footer-grid form:hover input[type='submit'] {
  background-color: #17b9ea;
  border-color: #17b9ea;
}
.footer-grid li a:hover {
  color: #17b9ea;
}
.copy-w3lsright p {
  color: #fff;
  margin-top: 1.2em;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 0.9em;
}
.copy-w3lsright p a {
  color: #17b9ea;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.copy-w3lsright p a:hover {
  color: #fff;
}
/*-- //footer end here --*/
/*-- slider-up-arrow --*/
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 3%;
  right: 3%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url('../images/move-up.png') no-repeat 0px 0px;
}
#toTopHover {
  width: 32px;
  height: 32px;
  display: block;
  overflow: hidden;
  float: right;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}
/*-- //slider-up-arrow --*/
/*-- about-page --*/
.about-w3lsbnr .banner-w3text {
  padding: 5em 0;
}
.agileits-banner.about-w3lsbnr {
  background-position: center bottom;
}
.jarallax {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
/*-- about --*/
.about-w3right {
  padding: 0 3em;
}
.about h4 {
  font-size: 2em;
  color: #17b9ea;
  line-height: 1.5em;
  letter-spacing: 8px;
  font-weight: 300;
}
.about-w3left p {
  margin-top: 1.5em;
}
.about-w3left ul li {
  display: block;
  font-size: 1em;
  color: #999;
  margin-top: 1em;
}
.about-w3left ul li span.glyphicon {
  padding-right: 6px;
}
.about-w3right img {
  width: 100%;
}
/*-- button style --*/
.button {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.6em 1.5em;
  background: none;
  color: #17b9ea;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #17b9ea;
  overflow: hidden;
  font-size: 1em;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.button:focus {
  outline: none;
}
/* Isi */
.button-isi::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #17b9ea;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  -moz-transform: scale3d(1, 2, 1);
  -o-transform: scale3d(1, 2, 1);
  -ms-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
}
.button-isi .icon {
  vertical-align: middle;
  top: -1px;
  font-size: 0.8em;
}
.button-isi > span {
  padding-right: 0.8em;
}
.button:hover {
  color: #fff;
  border-color: #17b9ea;
}
.button-isi:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  -moz-transform: scale3d(9, 9, 1);
  -o-transform: scale3d(9, 9, 1);
  -ms-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}
/*-- //button style --*/
.about-slid {
  background: url(../images/1s.png) no-repeat center 0px;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
  text-align: center;
}
.about-slid h4 {
  font-size: 3.8em;
  color: #17b9ea;
  letter-spacing: 10px;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.about-slid h5 {
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 1em;
}
.about-slid p {
  color: #eaeaea;
  letter-spacing: 3px;
}
/*-- //about-page --*/
/*-- about-team --*/
.team-row-agileinfo {
  margin: 4em 0;
}
.social-icon.social-w3lsicon a {
  margin: 0 0.5em;
}
.thumbnail.team-agileits {
  border: none;
  text-align: center;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
}
.team .w3agile-caption {
  padding: 1.5em;
  position: absolute;
  bottom: -17%;
  background: #fff;
  width: 80%;
  left: 10%;
  z-index: 9;
  -webkit-box-shadow: 0px 2px 3px #ccc;
  -moz-box-shadow: 0px 2px 3px #ccc;
  box-shadow: 0px 2px 3px #ccc;
  height: 30%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.team h4 {
  color: #17b9ea;
  font-size: 1.6em;
}
.team .social-w3lsicon {
  padding: 0.8em;
  margin-top: 0.4em;
  background: #191d22;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
}
.team .social-w3lsicon a {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.thumbnail.team-agileits:hover .social-w3lsicon {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.thumbnail.team-agileits:hover .w3agile-caption {
  height: 49%;
}
/*-- //about-team --*/
/*-- gallery --*/
.w3gallery-grids {
  padding: 1em;
}
.w3gallery-grids img.img-responsive {
  width: 100%;
}
.agile-figcap h4 {
  font-size: 2.3em;
  color: #17b9ea;
  margin: 1em 0 0.2em;
  font-weight: 300;
}
.agile-figcap p {
  color: #fff;
  letter-spacing: 1px;
}
a.w3effct-agile.w3effct-agile-mdl {
  margin: 2em 0;
}
a.w3effct-agile {
  position: relative;
  overflow: hidden;
  display: block;
  animation: anima 2s;
  -webkit-animation: anima 2s;
  -moz-animation: anima 2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: 6px double #17b9ea;
}
.w3gallery-grids img.img-responsive {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.agile-figcap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(25, 29, 34, 0.72);
  text-align: center;
  left: 0;
  top: -100%;
}
a.w3effct-agile:hover img.img-responsive {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.w3gallery-grids img,
.agile-figcap {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
a.w3effct-agile:hover .agile-figcap {
  top: 0%;
}
/*-- //gallery --*/
/*-- contact --*/
.contact input[type='text'],
.contact input[type='email'] {
  width: 47.7%;
  color: #999;
  float: left;
  background: none;
  outline: none;
  font-size: 1em;
  padding: 0.7em 1em;
  margin-bottom: 1.5em;
  border: solid 1px #ccc;
  -webkit-appearance: none;
}
.contact input.email {
  float: right;
}
.contact textarea {
  resize: none;
  width: 100%;
  background: none;
  color: #999;
  font-size: 1em;
  outline: none;
  padding: 0.6em 0.8em;
  border: solid 1px #ccc;
  min-height: 12em;
  -webkit-appearance: none;
}
.contact input[type='submit'] {
  outline: none;
  color: #fff;
  padding: 0.6em 4em;
  font-size: 1em;
  margin: 1em 0 0 0;
  -webkit-appearance: none;
  background: #17b9ea;
  border: 2px solid #17b9ea;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.contact input[type='submit']:hover {
  background: none;
  color: #17b9ea;
}
.contact::-webkit-input-placeholder {
  color: #999 !important;
}
.contact:-moz-placeholder {
  /* Firefox 18- */
  color: #999 !important;
}
.contact::-moz-placeholder {
  /* Firefox 19+ */
  color: #999 !important;
}
.contact:-ms-input-placeholder {
  color: #999 !important;
}
.contact-right h4 {
  font-size: 1.8em;
  color: #17b9ea;
  line-height: 1.6em;
  letter-spacing: 2px;
}
.contact-text {
  padding: 3em;
  -webkit-box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.5);
}
.contact-text p {
  margin-top: 1em;
  text-align: left;
}
.contact-text p a {
  color: #ff5722;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.contact-text p a:hover {
  color: #999;
}
.contact-text p i.fa {
  margin-right: 5px;
}
.map iframe {
  width: 100%;
  min-height: 400px;
  border: none;
}
/*-- //contact --*/
/*-- single --*/
.w3ls_single_left_grid_right h3 {
  font-size: 2em;
  color: #17b9ea;
  line-height: 1.5em;
  text-transform: capitalize;
  margin: 0 0 0.5em;
  letter-spacing: 2px;
}
.w3ls_single_left_grid_right h5 {
  font-size: 1em;
  color: #999;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #dcdcdc;
  letter-spacing: 6px;
  font-family: 'Open Sans', sans-serif;
}
.w3ls_single_left_grid_right ul li {
  display: inline-block;
  margin-right: 1.5em;
  font-size: 1em;
}
.w3ls_single_left_grid_right ul li span {
  padding-right: 0.6em;
  color: #999;
}
.w3ls_single_left_grid_right ul li a {
  color: #999;
  text-decoration: none;
}
.w3ls_single_left_grid_right ul li a:hover {
  color: #17b9ea;
}
.w3ls_single_left_grid1 {
  margin: 3em 0;
}
.w3ls_single_left_grid1 p {
  margin: 2em 0;
  color: #999;
  line-height: 2em;
}
.w3ls_single_left_grid1 p span {
  display: block;
  margin: 1em 0;
  border-left: 4px solid #17b9ea;
  padding-left: 1.5em;
}
.w3ls_single_left_grid1_left {
  float: left;
}
.w3ls_single_left_grid1_left h4 {
  color: #ff5722;
  text-transform: uppercase;
  margin-top: 0.1em;
  letter-spacing: 2px;
}
.w3ls_single_left_grid1_right {
  float: left;
  margin-left: 2em;
}
.w3ls_single_left_grid1_right .social-icon a {
  color: #555;
  margin: 0 0.8em;
}
.w3l_admin {
  padding: 2em;
  background: #333;
  margin: 3em 0 0;
}
.w3l_admin p {
  color: #f5f5f5;
  position: relative;
  padding-left: 3.5em;
  margin-bottom: 1em;
}
.w3l_admin p i.fa.fa-quote-left {
  margin-left: -3em;
  margin-right: 2em;
}
.w3l_admin a {
  display: block;
  text-align: right;
  color: #17b9ea;
  font-size: 1em;
  text-decoration: none;
}
.w3l_admin a:hover {
  color: #fff;
}
.wthree_recent h4,
.agileits_three_comments h3,
.w3_leave_comment h3,
.agile_cat_grid h4,
.agileits-tags h4 {
  font-size: 2em;
  color: #ff5722;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.agileits-tags,
.agile_cat_grid {
  margin-top: 3em;
}
.wthree_recent ul,
.agileits-tags ul,
.agile_cat_grid ul {
  padding: 1.5em 0 0;
}
.wthree_recent ul li {
  list-style-type: none;
  font-size: 1em;
  color: #999;
  padding: 1em 0;
  border-bottom: 1px dashed #ccc;
  text-transform: capitalize;
}
.wthree_recent ul li a {
  color: #999;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.wthree_recent ul li a:hover {
  color: #212121;
}
.wthree_recent ul li span {
  display: block;
  font-size: 13px;
  padding-left: 3.5em;
  color: #17b9ea;
  margin: 0.5em 0 0;
}
.wthree_recent ul li span i {
  left: -1em;
}
.wthree_recent ul li a i {
  padding-right: 1em;
}
.wthree_recent ul li:last-child {
  border-bottom: none;
}
.agileits_three_comments {
  margin: 5em 0;
}
.agile_cat_grid ul.categories li {
  list-style-type: none;
  font-size: 1em;
  margin-bottom: 1em;
}
.agile_cat_grid ul.categories li a {
  color: #999;
  border-bottom: 1px solid #ddd;
  padding: 0.5em;
  text-decoration: none;
  display: inline-block;
}
.agile_cat_grid ul.categories li a:hover,
.agile_cat_grid_tags ul li a:hover {
  color: #fff;
  background-color: #17b9ea;
  border-color: #17b9ea;
  padding: 0.5em 1em;
}
.agile_cat_grid_tags ul li {
  display: inline-block;
  margin: 5px;
  font-size: 1em;
}
.agile_cat_grid_tags ul li a {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #999;
  display: block;
}
.agileits_three_comment_grid {
  padding: 3em 0;
  border-bottom: 1px dashed #ddd;
  width: 100%;
}
.agileits_tom {
  float: left;
  border: 1px solid #ddd;
  text-align: center;
  padding: 1em 1.5em;
}
.agileits_tom i.fa {
  font-size: 4em;
  color: #999;
}
.agileits_tom_right {
  float: left;
  width: 70%;
  margin-left: 3em;
}
.Hardy {
  float: left;
}
.reply {
  float: left;
  margin-left: 10em;
  margin-top: 0.5em;
}
.reply a {
  padding: 8px 40px;
  background: #17b9ea;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}
.reply a:hover {
  background: #333;
}
.agileits_tom_right p.lorem {
  margin: 1em 0 0;
}
.agileits_three_comments h3,
.w3_leave_comment h3 {
  text-align: left;
}
.Hardy h4 {
  font-size: 1.2em;
  color: #333;
}
.Hardy p {
  color: #17b9ea;
  margin: 0.5em 0 0;
}
.agileits_three_comment_grid:nth-child(2) {
  margin: 4em 0 0;
  padding-top: 0 !important;
}
.agileits_three_comment_grid:last-child {
  border-bottom: none;
  padding-bottom: 0 !important;
}
.agileits_three_comment_grid1 {
  padding-left: 5em;
}
.w3_leave_comment {
  width: 60%;
}
.w3_leave_comment form {
  margin: 3em 0 0;
}
.w3_leave_comment input[type='text'],
.w3_leave_comment input[type='email'],
.w3_leave_comment textarea {
  outline: none;
  border: 1px solid #dedede;
  padding: 0.8em 1em;
  font-size: 1em;
  color: #555;
  width: 100%;
}
.w3_leave_comment input[type='email'],
.w3_leave_comment textarea {
  margin: 1em 0;
}
.w3_leave_comment textarea {
  min-height: 200px;
  resize: none;
}
.w3_leave_comment input[type='submit'] {
  outline: none;
  background: #17b9ea;
  border: none;
  padding: 0.8em 0;
  font-size: 1em;
  color: #fff;
  width: 100%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}
.w3_leave_comment input[type='submit']:hover {
  background: #333;
}
/*-- //single --*/
/*-- pages --*/
.well {
  font-weight: 300;
  font-size: 14px;
}
.list-group-item {
  font-weight: 300;
  font-size: 14px;
}
li.list-group-item1 {
  font-size: 14px;
  font-weight: 300;
}
.typo p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
}
.show-grid [class^='col-'] {
  background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*='col-']:hover {
  background: #e0e0e0;
}
.grid_3 {
  margin-bottom: 3em;
}
.xs h3,
h3.m_1 {
  color: #000;
  font-size: 1.7em;
  font-weight: 300;
  margin-bottom: 1em;
}
.grid_3 p {
  color: #999;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4 {
  background: none;
}
.label {
  font-weight: 300 !important;
  border-radius: 4px;
}
.grid_5 {
  background: none;
}
.grid_5 h3,
.grid_5 h2,
.grid_5 h1,
.grid_5 h4,
.grid_5 h5,
h3.w3ls-hdg,
h3.bars {
  margin-bottom: 1em;
  color: #333;
  font-weight: bold;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p {
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables p {
  margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 15px !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  font-size: 0.9em;
  color: #999;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
  line-height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
.in-gp-tl {
  padding: 0;
}
.in-gp-tb {
  padding-right: 0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2 {
  margin: 0 0 10px;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
  line-height: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
.codes .row {
  margin: 0;
}
.in-gp-tl {
  padding: 0;
}
.in-gp-tb {
  padding-right: 0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2 {
  margin: 0 0 10px;
}
.form-control1,
.form-control_2.input-sm {
  border: 1px solid #e0e0e0;
  padding: 5px 18px;
  color: #616161;
  background: #fff;
  box-shadow: none !important;
  width: 100%;
  font-size: 0.85em;
  font-weight: 300;
  height: 40px;
  border-radius: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-appearance: none;
  outline: none;
}
.control3 {
  margin: 0 0 1em 0;
}
.codes label {
  font-weight: 400;
}
/*-- icons --*/
.codes a {
  color: #999;
}
.icon-box {
  padding: 8px 15px;
  background: rgba(149, 149, 149, 0.18);
  margin: 1em 0 1em 0;
  border: 5px solid #ffffff;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor: pointer;
}
.icon-box:hover {
  background: #5f5f5f;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.icon-box:hover i.fa {
  color: #fff !important;
}
.icon-box:hover a.agile-icon {
  color: #fff !important;
}
.codes .bs-glyphicons li {
  float: left;
  width: 12.5%;
  height: 115px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  font-size: 12px;
  list-style-type: none;
}
.codes .bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.codes .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777;
}
.codes .bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
h3.icon-subheading {
  font-size: 28px;
  color: #000 !important;
  margin: 30px 0 15px;
}
.agileits-icons-title {
  text-align: center;
  font-size: 36px;
  color: #ef2e46;
  font-weight: 300;
}
.icons a {
  color: #999;
}
.icon-box i {
  margin-right: 10px !important;
  font-size: 20px !important;
  color: #282a2b !important;
}
.icons .bs-glyphicons li {
  float: left;
  width: 18%;
  height: 115px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  font-size: 12px;
  list-style-type: none;
  background: rgba(149, 149, 149, 0.18);
  margin: 1%;
}
.icons .bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
  color: #282a2b;
}
.icons .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777;
}
.icons .bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}
/*-- //icons --*/
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
h1.t-button,
h2.t-button,
h3.t-button,
h4.t-button,
h5.t-button {
  line-height: 1.8em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
}
.codes .row {
  margin: 0;
}
.in-gp-tl {
  padding: 0;
}
.in-gp-tb {
  padding-right: 0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2 {
  margin: 0 0 10px;
}
.form-control1,
.form-control_2.input-sm {
  border: 1px solid #e0e0e0;
  padding: 5px 18px;
  color: #616161;
  background: #fff;
  box-shadow: none !important;
  width: 100%;
  font-size: 0.85em;
  font-weight: 300;
  height: 40px;
  border-radius: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  -webkit-appearance: none;
  outline: none;
}
.control3 {
  margin: 0 0 1em 0;
}
.codes label {
  font-weight: 400;
}
@media (max-width: 1080px) {
  .icon-box {
    padding: 8px 9px;
  }
}
@media (max-width: 768px) {
  .grid_5 {
    padding: 0 0 1em;
  }
  .grid_3 {
    margin-bottom: 0em;
  }
}
@media (max-width: 640px) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .grid_5 h3,
  .grid_5 h2,
  .grid_5 h1,
  .grid_5 h4,
  .grid_5 h5,
  h3.hdg,
  h3.bars {
    margin-bottom: 0.5em;
  }
  .progress {
    height: 10px;
    margin-bottom: 10px;
  }
  ol.breadcrumb li,
  .grid_3 p,
  ul.list-group li,
  li.list-group-item1 {
    font-size: 14px;
  }
  .breadcrumb {
    margin-bottom: 25px;
  }
  .well {
    font-size: 14px;
    margin-bottom: 10px;
  }
  h2.typoh2 {
    font-size: 1.5em;
  }
  .label {
    font-size: 60%;
  }
  .in-gp-tl {
    padding: 0 1em;
  }
  .in-gp-tb {
    padding-right: 1em;
  }
}
@media (max-width: 480px) {
  h3.w3ls-hdg {
    font-size: 1.6em;
    margin: 1em 0 0.6em;
  }
  .grid_5 h3,
  .grid_5 h2,
  .grid_5 h1,
  .grid_5 h4,
  .grid_5 h5,
  h3.hdg,
  h3.bars {
    font-size: 1.2em;
  }
  .table h1 {
    font-size: 26px;
  }
  .table h2 {
    font-size: 23px;
  }
  .table h3 {
    font-size: 20px;
  }
  .label {
    font-size: 53%;
  }
  .codes .alert {
    font-size: 0.9em;
    padding: 10px;
  }
  .pagination {
    margin: 20px 0 0px;
  }
  .grid_3.grid_4.w3layouts {
    margin-top: 0;
  }
  .agileits-icons-title {
    font-size: 30px;
  }
  h3.icon-subheading {
    font-size: 22px;
  }
  .icons .bs-glyphicons li {
    width: 31%;
  }
}
@media (max-width: 320px) {
  .alert,
  ol.breadcrumb li,
  .grid_3 p,
  .well,
  ul.list-group li,
  li.list-group-item1,
  a.list-group-item {
    font-size: 13px;
  }
  .alert {
    padding: 10px;
    margin-bottom: 10px;
  }
  ul.pagination li a {
    font-size: 1em;
    padding: 5px 11px !important;
  }
  .list-group {
    margin-bottom: 10px;
  }
  .well {
    padding: 10px;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    font-size: 0.81em;
  }
  .table td,
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    padding: 13px !important;
  }
  .codes .row {
    margin: 0;
  }
  .agileits-icons-title {
    font-size: 25px;
  }
  h3.icon-subheading {
    font-size: 18px;
    margin: 21px 0 12px;
  }
}
/*-- //pages --*/
/*-- responsive-design --*/
@media (max-width: 1280px) {
  .about-w3lsbnr .banner-w3text h2 {
    font-size: 4em;
  }
  .banner-w3text {
    padding: 15em 0;
  }
  .about-w3lsbnr .banner-w3text {
    padding: 4em 0;
  }
}
@media (max-width: 1080px) {
  .features p.pagile-text {
    width: 85%;
  }
  .welcome,
  .stats,
  .services,
  .about,
  .about-slid,
  .team,
  .contact,
  .gallery,
  .codes {
    padding: 4em 0;
  }
  .stats {
    margin-top: 4.5em;
  }
  h3.agileits-title,
  h2.agileits-title {
    font-size: 3.5em;
    letter-spacing: 2px;
  }
  .footer-agile {
    padding: 3em 0;
  }
  .footer-grid h3 {
    font-size: 2.6em;
  }
  .copy-w3lsright p {
    letter-spacing: 1px;
  }
  .about-w3lsbnr .banner-w3text h2 {
    font-size: 3.5em;
  }
  .about h4 {
    font-size: 1.8em;
  }
  .team .w3agile-caption {
    height: 37%;
  }
  .team .social-w3lsicon {
    padding: 0.5em;
  }
  .thumbnail.team-agileits:hover .w3agile-caption {
    height: 57%;
  }
  .contact-right.wthree {
    padding-right: 0;
  }
  .map iframe {
    min-height: 300px;
  }
}
@media (max-width: 1024px) {
  .top-nav ul li {
    margin: 0 0 0 3.5em;
  }
  .banner-w3text {
    padding: 14em 0;
  }
  .services-grid i.fa {
    font-size: 3.5em;
  }
  .about-slid h4 {
    font-size: 3.5em;
  }
  .team-row-agileinfo {
    margin: 3em 0;
  }
  .w3ls_single_left_grid_right h3 {
    font-size: 1.8em;
    letter-spacing: 1px;
  }
  .wthree_recent ul,
  .agileits-tags ul,
  .agile_cat_grid ul {
    padding: 1em 0 0;
  }
  .w3ls_single_left_grid_right h5 {
    margin-bottom: 1em;
    padding-bottom: 1em;
    letter-spacing: 4px;
  }
  .w3ls_single_left_grid1 {
    margin: 2em 0;
  }
  .agileits_three_comments {
    margin: 3em 0;
  }
  .w3_leave_comment form {
    margin: 2em 0 0;
  }
  .about-w3left p {
    margin-top: 1em;
  }
  .about-w3right {
    padding: 0 1em;
  }
}
@media (max-width: 991px) {
  .w3llogo h1 {
    font-size: 2.6em;
  }
  .w3llogo h1 a span {
    letter-spacing: 10px;
  }
  .top-nav ul li a {
    font-size: 1.3em;
  }
  .banner-w3text #vertical-ticker li,
  .banner-w3text h2 {
    font-size: 4em;
  }
  .w3ls-bnr-icons.social-icon {
    margin-top: 2em;
  }
  .banner-w3text {
    padding: 12em 0;
  }
  .social-icon a {
    margin: 0 1.2em;
  }
  .welcome-w3lsgrids {
    padding: 0 0.5em;
  }
  .effect-ruby {
    height: 180px;
  }
  .effect-ruby h3 {
    font-size: 2em;
    margin-top: 2%;
  }
  .effect-ruby .agile-caption {
    padding: 1.5em;
  }
  .effect-ruby p {
    letter-spacing: 1px;
  }
  .features-right img {
    width: 50%;
    margin: 0 auto;
  }
  .features p.pagile-text {
    width: 90%;
    margin: 0 auto 3em;
  }
  .features-grid.features-grid-mdl {
    margin: 2em 0;
  }
  .features h4 {
    font-size: 1.8em;
  }
  .features-right {
    margin-bottom: 3em;
  }
  .stats {
    margin-top: 3.5em;
  }
  .numscroller {
    font-size: 1.8em;
    padding: 1.2em 0;
    width: 95px;
    height: 95px;
  }
  .stats-agileinfo h6 {
    letter-spacing: 4px;
    font-size: 1.3em;
  }
  .welcome,
  .stats,
  .services,
  .about,
  .about-slid,
  .team,
  .contact,
  .gallery,
  .codes {
    padding: 3.5em 0;
  }
  .services-grid.srvs-wthree-mdl,
  .services-grid {
    margin: 3em 0 0;
  }
  .footer-grid {
    padding: 0 0.5em;
  }
  .footer-grid h3 {
    font-size: 2.3em;
    letter-spacing: 1px;
  }
  ul.nav.navbar {
    margin: 1em 0 0;
  }
  .about-w3left {
    padding-right: 0;
  }
  .about h4 {
    font-size: 1.6em;
    letter-spacing: 6px;
  }
  .about-slid h5 {
    font-size: 1.3em;
    letter-spacing: 4px;
    margin-bottom: 0.8em;
  }
  .about-slid p {
    letter-spacing: 1px;
  }
  .team-row-agileinfo {
    width: 75%;
    margin: 0 auto;
  }
  .team .w3agile-caption {
    height: 31%;
    bottom: -14%;
  }
  .thumbnail.team-agileits:hover .w3agile-caption {
    height: 49%;
  }
  .team-grids {
    margin: 1em auto 4em;
  }
  .about-w3lsbnr .banner-w3text h2 {
    font-size: 3em;
  }
  .contact-text {
    padding: 2em 3em;
    margin-top: 3em;
  }
  .contact textarea {
    min-height: 10em;
  }
  .w3l_admin {
    margin: 2.5em 0;
  }
  .w3ls_single_left_grid1_left h4 {
    margin-top: 0;
  }
  .wthree_recent ul,
  .agileits-tags ul,
  .agile_cat_grid ul {
    padding: 0.8em 0 0;
  }
  .agileits-tags,
  .agile_cat_grid {
    margin-top: 2em;
  }
  .agileits_three_comments {
    margin: 2em 0;
  }
  .agileits_tom i.fa {
    font-size: 3em;
  }
  .agileits_three_comment_grid {
    padding: 2em 0;
  }
  .agileits_three_comment_grid1 {
    padding-left: 3em;
  }
  .agileits_tom_right p.lorem {
    margin: 0.8em 0 0;
  }
  .w3_leave_comment input[type='email'],
  .w3_leave_comment textarea {
    margin: 0.5em 0;
  }
  .w3_leave_comment input[type='text'],
  .w3_leave_comment input[type='email'],
  .w3_leave_comment textarea {
    padding: 0.6em 1em;
  }
  .w3_leave_comment textarea {
    min-height: 150px;
  }
  .about-w3lsbnr .banner-w3text {
    padding: 3em 0;
  }
  .top-nav ul li {
    margin: 0 0 0 2.5em;
  }
  .agileits_three_comment_grid:nth-child(2) {
    margin: 2.5em 0 0;
  }
  .w3_leave_comment {
    width: 80%;
  }
  .contact input[type='text'],
  .contact input[type='email'] {
    width: 49%;
    margin-bottom: 1em;
  }
  .contact input[type='submit'] {
    margin: 0.5em 0 0 0;
  }
}
@media (max-width: 800px) {
  .w3llogo h1 {
    font-size: 2.4em;
  }
  .w3llogo h1 a span {
    letter-spacing: 9px;
  }
  ul.nav.navbar {
    margin: 0.8em 0 0;
  }
  .top-nav {
    padding: 1.3em 0 0.8em;
  }
  .banner-w3text #vertical-ticker li {
    font-size: 3.5em;
  }
  .banner-w3text #vertical-ticker {
    height: 66px !important;
  }
  .banner-w3text {
    padding: 10em 0;
  }
  .effect-ruby h3 {
    font-size: 1.8em;
  }
  .about-slid h4 {
    font-size: 3em;
    letter-spacing: 7px;
  }
  .w3gallery-grids {
    padding: 0 0.5em;
  }
  a.w3effct-agile.w3effct-agile-mdl {
    margin: 1em 0;
  }
  .agile-figcap h4 {
    font-size: 1.8em;
    margin: 0.5em 0 0;
  }
  .agileits_tom_right {
    margin-left: 2em;
  }
}
@media (max-width: 768px) {
  .banner-w3text #vertical-ticker {
    height: 59px !important;
  }
  .effect-ruby p {
    padding: 0.3em 0.8em;
  }
  .features p.pagile-text {
    margin: 0 auto 2em;
  }
  .stats {
    margin-top: 3em;
  }
  .about-slid h4 {
    font-size: 2.8em;
    letter-spacing: 5px;
  }
  .contact-text {
    margin-top: 2.5em;
  }
  .map iframe {
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .w3llogo h1 a {
    margin-left: 1em;
  }
  button.navbar-toggle {
    margin: 0.5em 2em 0 0;
    z-index: 9999;
    border-color: #fff;
  }
  .navbar-toggle .icon-bar {
    background: #fff;
  }
  div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.77);
    z-index: 9999;
    padding-bottom: 0.5em;
    margin: 1em 0 0;
    left: 0;
    padding: 0;
  }
  ul.nav.navbar {
    margin: 0;
  }
  .top-nav ul li {
    margin: 1.5em 0;
    display: block;
  }
  .top-nav ul li a {
    display: block;
  }
  .top-nav ul li a:hover,
  .top-nav ul li a.active {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    letter-spacing: 3px;
  }
  .top-nav .open > .dropdown-menu {
    background: transparent;
    margin-top: 0.2em;
    left: inherit;
    width: 100%;
    position: inherit;
  }
  .effect-ruby p {
    padding: 0.3em 0.5em;
  }
  .effect-ruby .agile-caption {
    padding: 1.3em;
  }
  .stats-grid:nth-child(2) {
    margin-bottom: 3em;
  }
  h3.agileits-title,
  h2.agileits-title {
    font-size: 3.3em;
  }
  .w3l_admin {
    margin: 2em 0;
  }
  .w3l_admin p {
    padding-left: 2em;
  }
  .w3l_admin p i.fa.fa-quote-left {
    margin-left: -2em;
    margin-right: 1em;
  }
  .agileits_tom_right {
    width: 82%;
  }
  .about-w3right {
    padding: 0 12em;
    margin-bottom: 2em;
  }
  .about h4 {
    font-size: 1.4em;
    letter-spacing: 4px;
  }
  .about-w3left p {
    margin-top: 0.8em;
  }
  .button {
    margin-top: 1em;
  }
  .about-slid h4 {
    font-size: 2.5em;
  }
  .welcome,
  .stats,
  .services,
  .about,
  .about-slid,
  .team,
  .contact,
  .gallery,
  .codes {
    padding: 3em 0;
  }
  .thumbnail.team-agileits:hover .w3agile-caption {
    height: 51%;
  }
  .team .w3agile-caption {
    height: 34%;
  }
  .w3ls_single_left_grid_right h3 {
    font-size: 1.6em;
  }
}
@media (max-width: 667px) {
  .w3llogo h1 a span {
    letter-spacing: 8px;
    font-size: 0.3em;
  }
  .effect-ruby {
    height: 150px;
  }
  .effect-ruby h3 {
    font-size: 1.6em;
    margin-top: 0;
  }
  .effect-ruby .agile-caption {
    padding: 1.5em 0.5em;
  }
  .effect-ruby p {
    margin-top: 0.8em;
  }
  .features p.pagile-text {
    margin: 0 auto 1.5em;
    width: 100%;
  }
  .features h4 {
    font-size: 1.6em;
  }
  h3.agileits-title,
  h2.agileits-title {
    font-size: 3em;
  }
  .services-grid i.fa {
    font-size: 3em;
  }
  .services-grid.srvs-wthree-mdl,
  .services-grid {
    margin: 2em 0 0;
  }
  .services-grid h5 {
    font-size: 1.4em;
  }
  .footer-agile {
    padding: 2em 0;
  }
  .footer-grid h3 {
    font-size: 2em;
  }
  .footer-grid input[type='submit'] {
    padding: 0.8em 1.3em;
  }
  .footer-btm-agileinfo {
    padding-top: 1.5em;
  }
  .about-w3lsbnr .banner-w3text h2 {
    font-size: 2.6em;
  }
  .about-w3right {
    padding: 0 10em;
  }
  .team-row-agileinfo {
    width: 82%;
  }
  .w3gallery-grids {
    padding: 0 0.2em;
  }
  a.w3effct-agile.w3effct-agile-mdl {
    margin: 0.4em 0;
  }
  .agile-figcap p {
    letter-spacing: 0px;
    line-height: 1.4em;
    margin-top: 0.3em;
  }
  .contact textarea {
    min-height: 8em;
  }
  .contact-text {
    padding: 2em 2.5em;
  }
  .agileits_three_comment_grid:nth-child(2) {
    margin: 2em 0 0;
  }
  .agileits_three_comment_grid1 {
    padding-left: 0em;
  }
  .w3_leave_comment form {
    margin: 1.5em 0 0;
  }
  .features-right {
    margin-bottom: 2em;
  }
}
@media (max-width: 640px) {
  .banner-w3text {
    padding: 8em 0;
  }
  .social-icon a {
    margin: 0 0.8em;
  }
  .effect-ruby p {
    letter-spacing: 0px;
  }
  .numscroller {
    font-size: 1.7em;
    padding: 1em 0;
    width: 85px;
    height: 85px;
  }
  .stats-grid:nth-child(2) {
    margin-bottom: 2em;
  }
  .stats-agileinfo h6 {
    margin: 0.8em 0 0;
  }
  .team-row-agileinfo {
    width: 84%;
  }
  .footer-grid input[type='submit'] {
    padding: 0.8em 1em;
    margin-left: 0.5em;
  }
  .footer-btm-agileinfo {
    padding-top: 1em;
    margin-top: 1em;
  }
  .footer-grid li {
    font-size: 0.9em;
  }
  .footer-grid h3 {
    font-size: 1.8em;
    font-weight: 300;
  }
  .about-w3lsbnr .banner-w3text {
    padding: 2em 0;
  }
  .about-w3right {
    padding: 0 7em;
  }
  .team-row-agileinfo {
    width: 92%;
  }
  .top-nav ul li a {
    font-size: 1.2em;
  }
  .top-nav .open > .dropdown-menu li a {
    font-size: 1em;
  }
  a.w3effct-agile {
    border: 3px double #17b9ea;
  }
  .map iframe {
    min-height: 200px;
  }
}
@media (max-width: 600px) {
  .agile-figcap p {
    letter-spacing: 0.5px;
    font-size: 0.9em;
  }
  .agileits_tom_right {
    width: 80%;
    margin-left: 1em;
  }
  .agileits_tom_right p.lorem {
    margin: 0.2em 0 0;
  }
  .Hardy p {
    margin: 0.2em 0 0;
    font-size: 0.9em;
  }
  .w3_leave_comment textarea {
    min-height: 120px;
  }
}
@media (max-width: 480px) {
  .w3llogo h1 {
    font-size: 2.2em;
  }
  button.navbar-toggle {
    margin: 0.4em 1.5em 0 0;
  }
  .w3llogo h1 a {
    margin-left: 0.7em;
  }
  .top-nav ul li {
    margin: 1.2em 0;
  }
  .banner-w3text #vertical-ticker li {
    font-size: 3em;
  }
  .social-icon a {
    font-size: 0.9em;
  }
  .banner-w3text #vertical-ticker {
    height: 46px !important;
  }
  .w3ls-bnr-icons.social-icon {
    margin-top: 1.5em;
  }
  .welcome-w3lsgrids {
    padding: 0 1.5em;
    width: 100%;
  }
  .welcome-w3lsgrids:nth-child(2) {
    margin: 1.5em 0;
  }
  .effect-ruby .agile-caption {
    padding: 1.5em 2.5em;
  }
  .features i.fa {
    font-size: 1.4em;
  }
  .features-grid-right {
    padding: 0;
  }
  .services-grid.agileits-w3layouts {
    padding: 0 0.5em;
  }
  .services-grid h5 {
    font-size: 1.2em;
  }
  .services-grid i.fa {
    font-size: 2.5em;
  }
  .footer-grid {
    float: none;
    width: 100%;
  }
  .footer-grid.w3social {
    margin: 2em 0;
  }
  .welcome,
  .stats,
  .services,
  .about,
  .about-slid,
  .team,
  .contact,
  .gallery,
  .codes {
    padding: 2.5em 0;
  }
  .about-w3right {
    padding: 0 3em;
  }
  .about-slid h4 {
    font-size: 2.4em;
  }
  .team-row-agileinfo {
    width: 100%;
  }
  .team-grids {
    padding: 0 0.5em;
  }
  .team h4 {
    font-size: 1.4em;
    letter-spacing: 1px;
  }
  .wthree_recent h4,
  .agileits_three_comments h3,
  .w3_leave_comment h3,
  .agile_cat_grid h4,
  .agileits-tags h4 {
    font-size: 1.8em;
  }
  .team .w3agile-caption {
    height: 36%;
  }
  .thumbnail.team-agileits:hover .w3agile-caption {
    height: 55%;
  }
  .team-grids {
    margin: 1em auto 3em;
  }
  .w3gallery-grids {
    padding: 0;
    float: none;
    width: 80%;
    margin: 1em auto;
  }
  a.w3effct-agile.w3effct-agile-mdl {
    margin: 1em 0;
  }
  .agile-figcap h4 {
    margin: 2em 0 0;
  }
  .agile-figcap p {
    margin-top: 0.8em;
  }
  .contact-form.wthree,
  .contact-right.wthree {
    padding: 0;
  }
  .contact input[type='submit'] {
    padding: 0.6em 3em;
  }
  .contact-text {
    padding: 1.8em 2em;
    margin-top: 2em;
  }
  .contact-right h4 {
    font-size: 1.6em;
  }
  .contact-text p i.fa {
    margin-right: 10px;
  }
  .w3ls_single_left,
  .w3ls_single_right {
    padding: 0;
  }
  .w3ls_single_left_grid_right h3 {
    font-size: 1.4em;
  }
  .w3ls_single_left_grid1 {
    margin: 1.5em 0;
  }
  .w3ls_single_left_grid1 p {
    margin: 1em 0;
  }
  .w3ls_single_left_grid_right h5 {
    font-size: 0.9em;
  }
  .agileits-tags,
  .agile_cat_grid {
    margin-top: 1.5em;
  }
  .agileits_three_comments {
    margin: 1.5em 0;
  }
  .agileits_tom i.fa {
    font-size: 2em;
  }
  .agileits_tom {
    padding: 0.8em 1.2em;
  }
  .reply a {
    padding: 8px 30px;
  }
  .reply {
    margin-left: 6em;
  }
  .w3_leave_comment {
    width: 90%;
  }
  .about-w3lsbnr .banner-w3text h2 {
    font-size: 2.5em;
  }
  .button {
    font-size: 0.9em;
  }
}
@media (max-width: 414px) {
  .features-right,
  .features-left {
    padding: 0;
  }
  .features h4 {
    font-size: 1.4em;
  }
  .features-grid.features-grid-mdl {
    margin: 1.5em 0;
  }
  .about-w3lsbnr .banner-w3text h2 {
    font-size: 2.2em;
  }
  .team-grids {
    margin: 0 auto 5em;
    float: none;
    width: 100%;
    padding: 0;
  }
  .team-row-agileinfo {
    width: 68%;
  }
  .team .w3agile-caption {
    height: 29%;
  }
  .thumbnail.team-agileits:hover .w3agile-caption {
    height: 45%;
  }
  p {
    font-size: 0.9em;
  }
  .banner-w3text #vertical-ticker li {
    font-size: 2.5em;
  }
  .banner-w3text {
    padding: 6em 0;
  }
  .effect-ruby .agile-caption {
    padding: 1.5em;
  }
  .welcome-w3lsgrids:nth-child(2) {
    margin: 0.8em 0;
  }
  .features-right img {
    width: 70%;
  }
  .services-w3ls-left,
  .services-w3ls-row.agileits-w3layouts {
    padding: 0;
  }
  h3.agileits-title,
  h2.agileits-title {
    font-size: 2.8em;
  }
  .services-grid.srvs-wthree-mdl,
  .services-grid {
    padding: 0;
  }
  .about-w3left {
    padding: 0;
  }
  .contact input[type='text'],
  .contact input[type='email'],
  .contact textarea {
    font-size: 0.9em;
  }
  .contact input[type='submit'] {
    font-size: 0.9em;
  }
  .w3ls_single_left_grid_right ul li {
    font-size: 0.9em;
  }
  .w3_leave_comment input[type='text'],
  .w3_leave_comment input[type='email'],
  .w3_leave_comment textarea {
    font-size: 0.9em;
  }
  .w3_leave_comment input[type='submit'] {
    font-size: 0.9em;
  }
  .wthree_recent ul li span {
    font-size: 12px;
  }
  .wthree_recent ul li,
  .agile_cat_grid_tags ul li,
  .agile_cat_grid ul.categories li,
  .reply a {
    font-size: 0.9em;
  }
  .agileits_three_comment_grid {
    padding: 1.5em 0;
  }
  .w3ls_single_left_grid_right h3 {
    font-size: 1.3em;
  }
}
@media (max-width: 384px) {
  .agile-figcap h4 {
    margin: 1.2em 0 0;
  }
  .w3gallery-grids {
    width: 90%;
  }
  .footer-grid.w3social {
    margin: 1.5em 0;
  }
  .footer-grid h3 {
    font-size: 1.6em;
  }
  .features-grid-left {
    text-align: left;
    padding: 0 0.5em;
  }
  .team-row-agileinfo {
    width: 74%;
  }
  .features h2.agileits-title {
    margin-bottom: 0.3em;
  }
  div#bs-example-navbar-collapse-1 {
    margin: 0.6em 0 0;
  }
}
@media (max-width: 375px) {
  .welcome-w3lsgrids {
    padding: 0;
  }
  .numscroller {
    font-size: 1.5em;
    width: 75px;
    height: 75px;
  }
  .stats-agileinfo h6 {
    letter-spacing: 3px;
    font-size: 1.2em;
    margin: 0.6em 0 0;
  }
  h3.agileits-title,
  h2.agileits-title {
    margin-bottom: 0.5em;
  }
  .contact-text {
    padding: 1.5em 2em;
  }
  .about-w3right {
    padding: 0 1em;
  }
  .about h4 {
    font-size: 1.3em;
    letter-spacing: 2px;
  }
  .about-slid h4 {
    font-size: 2.2em;
    letter-spacing: 4px;
  }
  .about-slid h5 {
    font-size: 1.1em;
    letter-spacing: 2px;
  }
  .welcome,
  .stats,
  .services,
  .about,
  .about-slid,
  .team,
  .contact,
  .gallery,
  .codes {
    padding: 2em 0;
  }
  .contact input[type='text'],
  .contact input[type='email'] {
    width: 100%;
    margin-bottom: 0.5em;
  }
  .contact input[type='submit'] {
    margin: 0.1em 0 0 0;
  }
  .w3_leave_comment {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .w3llogo h1 {
    font-size: 2em;
  }
  .w3llogo h1 a {
    margin-left: 0.5em;
  }
  .w3llogo h1 a span {
    letter-spacing: 7px;
  }
  button.navbar-toggle {
    margin: 0.2em 1em 0 0;
    padding: 8px 9px;
  }
  .top-nav {
    padding: 1em 0 0.6em;
  }
  .banner-w3text {
    padding: 5em 0;
  }
  .banner-w3text #vertical-ticker li {
    font-size: 2em;
  }
  .banner-w3text #vertical-ticker {
    height: 39px !important;
  }
  .social-icon a {
    font-size: 0.85em;
    margin: 0 0.6em;
  }
  .w3ls-bnr-icons.social-icon {
    margin-top: 1em;
  }
  .effect-ruby h3 {
    font-size: 1.4em;
  }
  .features-grid-left {
    padding: 0;
  }
  h3.agileits-title,
  h2.agileits-title {
    font-size: 2.4em;
  }
  .services-grid.srvs-wthree-mdl,
  .services-grid {
    padding: 0;
    width: 50%;
  }
  .effect-ruby {
    height: 130px;
  }
  .effect-ruby {
    height: 130px;
  }
  .footer-grid {
    padding: 0;
  }
  .team-row-agileinfo {
    width: 92%;
  }
  .w3gallery-grids {
    width: 95%;
  }
  .about-w3lsbnr .banner-w3text h2 {
    font-size: 1.8em;
  }
  .w3ls_single_left_grid_right h5 {
    font-size: 0.85em;
    letter-spacing: 2px;
  }
  .w3ls_single_left_grid_right ul li {
    font-size: 0.85em;
  }
  .w3l_admin {
    margin: 1.5em 0;
  }
  .w3l_admin {
    padding: 1em;
  }
  .w3l_admin p {
    margin-bottom: 0.5em;
  }
  .wthree_recent h4,
  .agileits_three_comments h3,
  .w3_leave_comment h3,
  .agile_cat_grid h4,
  .agileits-tags h4 {
    font-size: 1.6em;
  }
  .agileits_tom_right {
    width: 100%;
    margin: 1em 0 0;
  }
  .agileits_tom i.fa {
    font-size: 1.5em;
  }
  .footer-agile {
    padding: 1.5em 0;
  }
}
html {
  scroll-behavior: smooth;
}
/*-- //responsive-design --*/
#progress .progress-bar {
  width: 100%;
  height: 0.5em;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.step {
  height: 6em;
  width: 100%;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  cursor: pointer;
}
.step[draggable] {
  border-color: #336633;
  background-color: #6c6;
}
.step:hover {
  border-color: #336633;
  background-color: #6c6;
}
.step.selected {
  -webkit-box-shadow: inset 0 0 5px 5px white;
  -ms-box-shadow: inset 0 0 5px 5px white;
  box-shadow: inset 0 0 5px 5px white;
}
.step.add {
  border: 1px dotted #666666;
  background-color: white;
  text-align: center;
}
.step.add p {
  font-size: 200%;
}
.step.add:hover {
  border: 1px double #ccc;
  background-color: #cc6;
  color: black;
}
.step header {
  text-shadow: #666 0 1px;
  padding: 0.5em 1em 0.5em 1em;
}
.step .op {
  padding-left: 1em;
}
.step .visible-lg {
  padding-left: 1em;
  font-size: 90%;
}
.delete {
  float: right;
  color: red;
}
.delete:hover {
  color: #660000;
}
#options header {
  font-size: 200%;
  font-weight: bold;
}
#options .op {
  padding-left: 2em;
}
#options .opValue {
  padding: 0 0.5em;
  font-weight: 400;
}
#options .argName {
  padding: 0 0.5em;
  clear: left;
  float: left;
}
#options input[type='radio'],
input[type='checkbox'] {
  margin-left: 0.5em;
}
#options .largeMargin {
  margin: 1em 0 1em 1em !important;
}
.full-width {
  width: 100%;
  display: block;
}
.step .configs {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.step .configs:hover {
  overflow: visible;
}
.step .opValue {
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-overflow: inherit;
  max-width: 90%;
}
.description {
  margin: 0.5em;
}
.description li {
  margin-left: 1em;
  font-size: 90%;
  color: #666;
}
input[type='file'] {
  display: inherit;
}
.input-number {
  width: 5em;
  position: relative;
  text-align: center;
  min-height: 12px;
  padding-left: 10px;
}
.input-text {
  width: 40em;
  position: relative;
  min-height: 12px;
  padding-left: 5px;
}
.input-short {
  width: 10em;
}
#steps .drag-indicator {
  width: 100%;
  margin: -45px 0 -45px 0;
  border: none;
  height: 47px;
}
#steps .over {
  border: 2px dotted red;
  border-radius: 10px;
  margin: 0;
}
#steps .dragging {
  opacity: 0.4;
}
.btn-group-justified > .btn-lg {
  float: left;
  min-width: 120px;
}
#steps .running {
  background: linear-gradient(-45deg, #aaee52, #ec3f81, #23d5cc, #23d54f);
  background-size: 400% 400%;
  animation: gradientBG 7s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#benchmark tr:nth-child(odd) {
  background-color: antiquewhite;
}
#benchmark tr:nth-child(even) {
  background-color: ivory;
}
#benchmark td,
th {
  padding: 0 1em 0 1em;
  text-align: center;
}
