<!-- footer start here -->
<div class="footer-agile">
	<div class="container">
		<div class="footer-top-agileinfo">
			<div class="social-icon">
				<a href="http://may-workshop.com" class="social-button twit">
					<i class="fa fa-home"></i>
				</a>
				<a href="http://blog.may-workshop.com" class="social-button gg1">
					<i class="fa fa-book"></i>
				</a>
				<a href="http://hgalgame.com" class="social-button fb">
					<i class="glyphicon glyphicon-header"></i>
				</a>
				<a href="https://github.com/opteroncx" class="social-button drb1">
					<i class="fa fa-github"></i>
				</a>
			</div>
			<div class="clearfix"> </div>
			<br>
			<p>Copyright &copy; 2019.May-workshop All rights reserved.
				<a target="_blank" href="http://may-workshop.com">访问主站</a>
				<br> 禁止滥用和用于非法途径
				<br> 如果您觉得我们的程序有用，请用下面的二维码打赏我们！让作者有动力持续更新版本和修复BUG
				<div class="col bg-light">
					<img src="static/images/a1.png" alt="" />
				</div>
			</p>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //footer end here -->