<!-- banner -->
<div class="agileits-banner1 about-w3lsbnr">
	<div class="bnr-agileinfo">
		<!-- navigation -->
		<div class="top-nav w3-agiletop">
			<div class="container">
				<div class="navbar-header w3llogo">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1>
						<a href="/">MoePhoto
							<span>萌图修复工具箱</span>
						</a>
					</h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<div class="w3menu navbar-right">
						<ul class="nav navbar">
							<li>
								<a href="/">主页</a>
							</li>
							<li>
								<a href="/batch">批量放大</a>
							</li>
							<li>
								<a href="/video">AI视频</a>
							</li>
							<li>
								<a href="/gallery">相册</a>
							</li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false">
									<span data-letters="Pages">更多</span>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/document">使用教程</a>
									</li>
									<li>
										<a href="/about">关于软件</a>
									</li>
									<li>
										<a href="/system">系统信息</a>
									</li>
								</ul>
							</li>

						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //navigation -->
		<!-- banner-text -->
		<div class="banner-w3text about-w3lsbnr-text">
			<div class="container">
				<h2>Moe Photo Image Toolbox</h2>
			</div>
		</div>
		<!-- //banner-text -->
	</div>
</div>
<!-- //banner -->