<!DOCTYPE html>
<html lang="en">

<head>
	<title>MoePhoto 使用教程</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Custom Theme files -->
	<link href="{{url_for('static', filename='css/bootstrap.css')}}" type="text/css" rel="stylesheet" media="all">
	<link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="all">
	<link href="{{url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/loader.css')}}" rel="stylesheet">
	<link href="{{url_for('static', filename='css/component.css')}}" rel="stylesheet">
	<!-- font-awesome icons -->
	<!-- //Custom Theme files -->
	<!-- web-fonts -->
	<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
	    rel='stylesheet' type='text/css'>
	<!-- //web-fonts -->
</head>

<body>
	<!-- banner -->
	{% autoescape true %} {{header| safe}} {% endautoescape %}
	<!-- //banner -->
	<!-- about -->
	<div class="about agileinfo">
		<div class="container">
			<h3 class="agileits-title">使用教程</h3>
			<div class="col-sm-6 about-w3right">
				<img src="static/images/img4.jpg" alt="" />
			</div>
			<div class="col-sm-6 about-w3left">
				<h4>Moe Photo Image Toolbox
					<br> 萌图修复工具箱（Ver 0.2.0）</h4>
				<p>
					使用教程
					暂时没有。。。
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //about -->
	<!-- footer start here -->
	{% autoescape true %} {{footer| safe}} {% endautoescape %}
	<!-- //footer end here -->
	<!-- js -->
	<script src={{url_for( 'static', filename="js/jquery.js " )}}></script>
	<script src={{url_for( 'static', filename="js/jarallax.js " )}}></script>
	<script src={{url_for( 'static', filename="js/SmoothScroll.min.js " )}}></script>
	<script type="text/javascript ">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- //js -->
	<!-- text Ticker -->
	<script type="text/javascript " src={{url_for( 'static', filename="js/jquery.totemticker.js " )}}></script>
	<script type="text/javascript ">
		$(function () {
			$('#vertical-ticker').totemticker({
				row_height: '100px',
				next: '#ticker-next',
				previous: '#ticker-previous',
				stop: '#stop',
				start: '#start',
				mousestop: true
			});
		});
	</script>
	<!-- //text Ticker -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript " src={{url_for( 'static', filename="js/move-top.js " )}}></script>
	<script type="text/javascript " src={{url_for( 'static', filename="js/easing.js " )}}></script>
	<script type="text/javascript ">
		jQuery(document).ready(function ($) {
			$(".scroll ").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript ">
		$(document).ready(function () {
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->
	<!-- Progressive-Effects-Animation-JavaScript -->
	<script type="text/javascript " src={{url_for( 'static', filename="js/numscroller-1.0.js " )}}></script>
	<!-- //Progressive-Effects-Animation-JavaScript -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src={{url_for( 'static', filename="js/bootstrap.js " )}}></script>
	<script src={{url_for( 'static', filename="js/custom-file-input.js" )}}></script>
</body>

</html>