<!DOCTYPE html>
<html lang="en">

<head>
	<title>MoePhoto {{version}} 使用教程</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
</head>

<body>
	<!-- banner -->
	{% autoescape true %} {{header| safe}} {% endautoescape %}
	<!-- //banner -->
	<!-- about -->
	<div class="about agileinfo">
		<div class="container">
			<h3 class="agileits-title">使用教程</h3>
			<div class="col-sm-6 about-w3right">
				<img src="static/images/img4.jpg" alt="" />
			</div>
			<div class="col-sm-6 about-w3left">
				<h4>Moe Photo Image Toolbox
					<br> 萌图修复工具箱（Ver 3.5.10）</h4>
				<p>
					使用教程
					<p><a href="https://moephoto.tech/?p=45">图像超分辨率</a></p>
					<p><a href="https://moephoto.tech/?p=54">图像降噪</a></p>
					<p><a href="https://moephoto.tech/?p=59">图像去雾</a></p>
					<p><a href="https://moephoto.tech/?p=61">图像去摩尔纹</a></p>
					<p><a href="https://moephoto.tech/?p=69">视频编码</a></p>
					<p><a href="https://moephoto.tech/?p=72">视频处理</a></p>
					<p><a href="https://moephoto.tech/?p=64">常见错误</a></p>
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //about -->
	<!-- footer start here -->
	{% autoescape true %} {{footer| safe}} {% endautoescape %}
	<!-- //footer end here -->
	<!-- js -->
	<script src="{{vendorsJs}}"></script>
	<script src="{{commonJs}}"></script>
	<script src="static/js/page.js"></script>
</body>

</html>