<!DOCTYPE html>
<html lang="en">

<head>
	<title>MoePhoto 使用教程</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
</head>

<body>
	<!-- banner -->
	{% autoescape true %} {{header| safe}} {% endautoescape %}
	<!-- //banner -->
	<!-- about -->
	<div class="about agileinfo">
		<div class="container">
			<h3 class="agileits-title">使用教程</h3>
			<div class="col-sm-6 about-w3right">
				<img src="static/images/img4.jpg" alt="" />
			</div>
			<div class="col-sm-6 about-w3left">
				<h4>Moe Photo Image Toolbox
					<br> 萌图修复工具箱（Ver 0.2.0）</h4>
				<p>
					使用教程
					暂时没有。。。
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //about -->
	<!-- footer start here -->
	{% autoescape true %} {{footer| safe}} {% endautoescape %}
	<!-- //footer end here -->
	<!-- js -->
	<script src="{{vendorsJs}}"></script>
	<script src="static/js/app.js"></script>
</body>

</html>