<!DOCTYPE html>
<html lang="en">

<head>
	<title>MoePhoto 相册</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
</head>

<body>
	<!-- banner -->
	{% autoescape true %} {{header| safe}} {% endautoescape %}
	<!-- //banner -->
	<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<h3 class="agileits-title">Gallery相册</h3>
			<div class="gallery-agileinfo">
				{% autoescape true %} {{var| safe}} {% endautoescape %}
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //gallery -->
	<!-- footer start here -->
	{% autoescape true %} {{footer| safe}} {% endautoescape %}
	<!-- //footer end here -->
	<!-- js -->
	<script src="{{vendorsJs}}"></script>
	<script src="{{commonJs}}"></script>
	<script src="static/js/app.js"></script>
	<script>
		$(_ => $('.w3gallery-grids a').simpleLightbox({
			navText: ['&lsaquo;', '&rsaquo;']
		}))
	</script>
</body>

</html>