<!DOCTYPE html>
<html lang="en">

<head>
	<title>MoePhoto 系统信息</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
</head>

<body>
	<!-- banner -->
	{% autoescape true %} {{header| safe}} {% endautoescape %}
	<!-- //banner -->
	<!-- about -->
	<div class="about agileinfo">
		<div class="container">
			<h3 class="agileits-title">系统信息</h3>
			<div class="col-sm-6 about-w3right">
				<img src="static/images/img5.jpg" alt="" />
			</div>
			<div class="col-sm-6 about-w3left">
				<h4>Moe Photo Image Toolbox
					<br> 系统状态</h4>
				<p> CPU物理核心:{{cpu_count_phy}} </p>
				<p> CPU逻辑核心:{{cpu_count_log}} </p>
				<p> CPU频率:{{cpu_freq}} MHz</p>
				<p> 系统总内存:{{mem_total}} MB</p>
				<p> 系统空闲内存:{{mem_free}} MB</p>
				<p> 总工作硬盘空间:{{disk_total}} MB</p>
				<p> 可用工作硬盘空间:{{disk_free}} MB</p>
				<p> Python版本:{{python}}</p>
				<p> PyTorch版本:{{torch}}</p>
				<p> CUDA版本:{{cuda}}</p>
				<p> CuDNN版本:{{cudnn}}</p>
				<ul>
					{% for gpu in gpus %}
					<li>
						<p> 显卡型号:{{gpu['name']}}</p>
						<p> 显卡CUDA能力:{{gpu['capability']}}</p>
						<p> 处理器数量:{{gpu['processor_count']}}</p>
						<p> 总显存:{{gpu['total_memory']}} MB</p>
						<p> 空余显存:<span class="freeGPUMemory"></span> MB</p>
					</li>
					{% endfor %}
				</ul>
				{% if session %}
				<p> 当前会话:{{session}}</p>
				<p> 当前任务路径:{{path}}</p>
				{% endif %}
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //about -->
	<div class="container" id="progress">
		<p><span class="message"></span><span class="time"></span></p>
		<meter class="progress-bar" value=0 max=100></meter>
		<div class="col-md-12">
			<br>
		</div>
	</div>
	<!-- footer start here -->
	{% autoescape true %} {{footer| safe}} {% endautoescape %}
	<!-- //footer end here -->
	<!-- js -->
	<script src="{{vendorsJs}}"></script>
	<script src="static/js/progress.js"></script>
	<script>
		$(document).ready(_ => {
			var session = window.app.getSession(), GPUfrees = $('.freeGPUMemory')
			const path = '/systemInfo'
			const progress = window.app.setup({
				session,
				progress: $('#progress'),
				path
			})
			session && $.ajax({
				url: path,
				data: { session },
				cache: false,
				dataType: 'json',
				beforeSend: _ => progress.begin('正在处理您的任务'),
				success: res => {
					freeMems = res.result
					progress.final('空闲中')
					GPUfrees.each((i, elem) => elem.innerHTML = freeMems[i])
				},
				error: (xhr, status, error) => {
					let busy = xhr ? xhr.responseJSON ? xhr.responseJSON.eta == null ? 0 : 1 : 0 : 0
					if (busy) {
						progress.setStatus(+xhr.responseJSON.eta)
					} else {
						console.error(xhr, status, error)
						progress.final('出错啦')
					}
				}
			})
		})
	</script>
	<!-- //js -->
</body>

</html>