<!DOCTYPE html>
<html lang="en">

<head>
	<title>MoePhoto 视频放大</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
</head>

<body>
	<!-- banner -->
	{% autoescape true %} {{header| safe}} {% endautoescape %}
	<!-- //banner -->
	<div id="drop_zone">
		<!-- features -->
		<div class="features">
			<div class="container">
				<br>
				<br>
				<h2 class="agileits-title">视频放大</h2>
				<p class="pagile-text">选择一段需要放大的视频！运行完毕请点击保存</p>
			</div>
		</div>
		<!-- //features -->
		<!-- Stats -->
		<div class="news-w3layouts">
			<div class="container">
				<hr>
				<div class="features-grid">
					<i class="fa fa-cogs" aria-hidden="true"></i> 属性设置
				</div>
				<div class="stats-agileinfo agileits-w3layouts">
					<form id="imgUpload" enctype="multipart/form-data">
						<br>
						<div class="col-md-12 settings">
							<input name="file" type="file" class="inputfile inputfile-6" style='width: 0.1px;height: 0.1px;opacity: 0 !important;overflow: hidden;position: absolute;
						z-index: -1;' id="imgInp">
							<label for="imgInp">
								<span></span>
								<strong>
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
										<path
											d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
									</svg> 选择视频&hellip;</strong>
							</label>
						</div>
						<div class="col-md-6 settings">
							<hr> 输入解码设置<br>
							<input name="decodec" type="text" id="decodec" class="input-sm col-sm-10" value="">
						</div>
						<div class="col-md-6 settings">
							<hr>
							开始于第<input name="start" type="number" id="startFrame" class="input-sm" value="0" style="width:20%">帧<br>
							结束于第<input name="stop" type="number" id="stopFrame" class="input-sm" value="0" style="width:20%">帧
						</div>
						<div class="col-md-6 settings">
							<hr> 放大倍数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="scale" type="radio" id="scale" value="1">不放大 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="scale" type="radio" id="scale" value="2" checked>2X &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="scale" type="radio" id="scale" value="3">3X &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="scale" type="radio" id="scale" value="4">4X
							<hr> 超分模型&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="mode" type="radio" id='mode' value="a" checked>动漫 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="mode" type="radio" id='mode' value="p">照片 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="mode" type="radio" id='mode' value="lite">快速 （仅2X放大）<br>
							<input name="mode" type="radio" id='mode' value="gan">GAN （仅适用于RGB图像，仅4X放大）
						</div>
						<div class="col-md-6 settings">
							<hr> 是否降噪&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="denoise" type="radio" id='denoise' value="no" checked>不降噪
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="denoise" type="radio" id='denoise' value="lite5">弱 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="denoise" type="radio" id='denoise' value="lite10">中 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="denoise" type="radio" id='denoise' value="lite15">强 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<hr> 降噪顺序&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="dn_seq" type="radio" id='dn_seq' value="before" checked>先降噪
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input name="dn_seq" type="radio" id='dn_seq' value="after">后降噪 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
						<div class="col-md-6 settings">
							<hr> 插帧倍数<br>
							<input name="sf" type="number" id="sf" class="input-sm col-sm-1" value="1">
						</div>
						<div class="col-md-6 settings">
							<hr> 输出编码设置<br>
							<input name="encodec" type="text" id="encodec" class="input-sm col-sm-10"
								value="libx264 -pix_fmt yuv420p">
							<hr> 覆盖输出帧率<br>
							<input name="frameRate" type="number" id="frameRate" class="input-sm col-sm-2" value="0">
						</div>

					</form>
					<div class="clearfix"></div>
					<div class="col-md-12">
						<hr>
						<button id="RunButton" type="button" class="btn btn-primary btn-lg">开始</button>
					</div>
					<div class="col-md-12">
						<br>
						<br>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="features-row stats-agileinfo agileits-w3layouts">
			<div>
				<div id="FG" style="position: relative;top: 64px;left: 20%;">
					<div id="fountainG_1" class="fountainG"></div>
					<div id="fountainG_2" class="fountainG"></div>
					<div id="fountainG_3" class="fountainG"></div>
					<div id="fountainG_4" class="fountainG"></div>
					<div id="fountainG_5" class="fountainG"></div>
					<div id="fountainG_6" class="fountainG"></div>
					<div id="fountainG_7" class="fountainG"></div>
					<div id="fountainG_8" class="fountainG"></div>
				</div>
				<img id='outputImg' class="img-responsive" src="http://placehold.it/1140x120?text=Output+Image" alt="">
				<div id=downloader>
					<br>
					<a id='downImg' class="agile-icon btn btn-success btn-lg" href="#">
						保存
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-12 stats-agileinfo agileits-w3layouts">
			<hr>
			<button id="StopButton" type="button" class="btn btn-warning btn-lg">中止</button>
		</div>
	</div>
	<!-- //Stats -->
	<div class="container" id="progress">
		<p><span class="message"></span><span class="time"></span></p>
		<meter class="progress-bar" value=0 max=100></meter>
		<div class="col-md-12">
			<br>
		</div>
	</div>
	<!-- footer start here -->
	{% autoescape true %} {{footer| safe}} {% endautoescape %}
	<!-- //footer end here -->
	<!-- js -->
	<script src="{{vendorsJs}}"></script>
	<script src="static/js/progress.js"></script>
	<script>
		$(document).ready(_ => {
			const downImg = $('#downImg')
			const progress = window.app.setup({
				onProgress: (gone, total) => `处理中，共${total}帧，已处理${gone}帧`,
				beforeSend: data => {
					let steps = [{ codec: data.get('decodec') },
					{ start: +data.get('start'), stop: +data.get('stop') }],
						dn_seq = data.get('dn_seq'),
						model = data.get('denoise'),
						scale = +data.get('scale'),
						sf = +data.get('sf'),
						frameRate = +data.get('frameRate')
					if (dn_seq === 'before' && model !== 'no') steps.push({ op: 'DN', model })
					if (scale > 1) steps.push({ op: 'SR', model: data.get('mode'), scale })
					if (dn_seq === 'after' && model !== 'no') steps.push({ op: 'DN', model })
					if (sf > 1) steps.push({ op: 'slomo', sf })
					let optEncode = { codec: data.get('encodec') }
					if (frameRate > 0) optEncode.frameRate = frameRate
					steps.push(optEncode)
					data.delete('start')
					data.delete('stop')
					data.delete('dn_seq')
					data.delete('denoise')
					data.delete('scale')
					data.delete('mode')
					data.delete('sf')
					data.delete('decodec')
					data.delete('encodec')
					data.delete('frameRate')
					data.set('steps', JSON.stringify(steps))
				},
				success: (result, progress) => {
					progress.final(`完成啦，处理到第${result[1]}帧`)
					let im = app.getResource(result[0])
					downImg.attr('href', im)
				},
				path: '/video_enhance',
				progress: $('#progress'),
				outputImg: $('#outputImg'),
				dropZone: $('#drop_zone')
			})
		})
	</script>
</body>

</html>